<section class="sec-1">

  <article class="ingreso">
    <h2>Rate my cakes </h2>
    <form (submit)="onSubmit()" method="post">
      <hr>
      <label for="">Baker Name:</label>
      <input type="text" name="nombrePastelero" [(ngModel)]="newTask.nombrePastelero" />
      <br><br>
      <label for="">Image URL:</label>
      <input type="text" name="fotoPastelero" [(ngModel)]="newTask.fotoPastelero" />
      <br><br>
      <input type="submit" />
    </form>
  </article>
  <article>
    <!-- <button (click)="getTasksFromService()">Detalle</button> -->
    <section class="scrollPastel">

      <div class="imgPuntaje" *ngFor="let info of tasks">
        <div>
          <img (click)="onSubmitDet(info._id)" [src]="info.fotoPastelero" alt="">
        </div>
        <app-formulario [id_pas]="info._id"></app-formulario>
      </div>

    </section>

  </article>
</section>

<section *ngIf="MuestraDetalle">
  <h1>Baked By Eli Byers</h1>
  <article class="detalle">

    <img [src]="info.fotoPastelero" alt="">

    <div class="detComentario">
      <label>Average rating :</label>
      <!-- {{promedio}} <br><br> -->
      <br>
      <div *ngFor="let inf of info.comentarioPastel">
        {{inf.comentario}} <br>
        {{inf.puntuacion}} <label> stars</label>
        <br><br>
      </div>
    </div>

  </article>

</section>